@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * QwixxTikoflano implementation : © tikoflano
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
.player_area {
  float: left;
  margin-right: 50px;
}
.player_area .player_name {
  background: #dddddf;
  padding: 2px 50px;
  border-radius: 10px 10px 0px 0px;
}
.player_area .player_board {
  background-image: url(img/qwixx_board.jpeg);
  width: 500px;
  position: relative;
  aspect-ratio: 946/480;
  background-size: cover;
}
.player_area .player_board .square {
  position: absolute;
  border-radius: 7px;
  aspect-ratio: 36/37;
  cursor: pointer;
}
