/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * QwixxTikoflano implementation : © tikoflano
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

@import "css/animations";

.player_area {
  float: left;
  margin-right: 50px;

  .player_name {
    background: #dddddf;
    padding: 2px 50px;
    border-radius: 10px 10px 0px 0px;
  }

  .player_board {
    background-image: url(img/qwixx_board.jpeg);
    width: 500px;
    position: relative;
    aspect-ratio: 946 / 480;
    background-size: cover;

    .box {
      position: absolute;
      border-radius: 7px;
      aspect-ratio: 36 / 37;
      border: 1px solid cyan;

      &.clickable {
        cursor: pointer;
        animation: pulse-animation 2s linear infinite alternate;
      }

      &.lock {
        left: 460px;
        top: 20px;
        aspect-ratio: 1 / 1;
        width: 27px;
        border-radius: 100%;
      }

      &.crossed {
        background-image: url(img/cross.png);
        background-size: cover;
      }

      &.invalid {
        cursor: not-allowed;
      }

      &.invalid:not(.crossed) {
        background-color: white;
        opacity: 0.75;
      }
    }
  }
}

.die {
  $diePositons: (
    "red": 0,
    "yellow": 1,
    "green": 2,
    "blue": 3,
    "white": 5,
  );

  display: inline-block;
  background-image: url(img/64_64_dice.jpg);
  background-size: 600%;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 64px;
  border-radius: 5%; /* looks better with rounded corders */

  @each $color, $row in $diePositons {
    @for $i from 1 through 6 {
      &[data-color="#{$color}"][data-value="#{$i}"] {
        background-position: calc(100% / 5 * ($i - 1)) calc(100% / 5 * $row);
      }
    }
  }
}
