%circle_number {
  display: flex;
  height: 0.25rem;
  width: 0.25rem;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid #666;
  font-weight: 600;

  &[data-color="red"] {
    background-color: #fdcccf;
    border-color: #7f0000;
    color: #de1314;
  }

  &[data-color="yellow"] {
    background-color: #f9facf;
    border-color: #966601;
    color: #a18200;
  }

  &[data-color="green"] {
    background-color: #ebfae7;
    border-color: #0f6409;
    color: #45a111;
  }

  &[data-color="blue"] {
    background-color: #ddddf9;
    color: #3f709f;
    border-color: #144172;
  }
}
